

<div class="row">
    <div class="col-md-3">
      <h1>Resources</h1>
        <ul class="sidebar-list">
            <li class="sidebar-item">Executive Summary</li>
            <li class="sidebar-item"><%= link_to "HDB Flat", root_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Condo", root_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Landed Property", root_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Loan Matters", root_path, class: "sidebar-link" %></li>

        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>A step-by-step guide</h3>
            </div>
            <div class="panel-body">





  <div class="row">
      <div class="col-md-9">
<h4>Step 1: Check whether you’re eligible to sell your flat</h4>
        <p class="list-group-item-text resources-body">
        My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
        </p>
      </div>
      <div class="col-md-3">
          <%= link_to "Done", root_path, class: "btn btn-primary wide" %>
      </div>

  </div>

<hr>

  <div class="row">
      <div class="col-md-9">
<h4>Step 2: Plan your finances</h4>
        <p class="list-group-item-text resources-body">
        There are two things you need to find out before you even begin the flat selling process. You won’t need the “expertise” of a housing agent to obtain either of this information.
        How long have you stayed in your flat?
        </p>
      </div>
      <div class="col-md-3">
          <%= link_to "Done", root_path, class: "btn btn-primary wide" %>
      </div>
  </div>

  <hr>

    <div class="row">
        <div class="col-md-9">
  <h4>Step 3: Decide if you're selling it yourself</h4>
          <p class="list-group-item-text resources-body">
          There are two things you need to find out before you even begin the flat selling process. You won’t need the “expertise” of a housing agent to obtain either of this information.
          How long have you stayed in your flat?
          </p>
        </div>
        <div class="col-md-3">
            <%= link_to "Done", root_path, class: "btn btn-primary wide" %>
        </div>
    </div>



    <hr>

      <div class="row">
          <div class="col-md-9">
    <h4>Step 4: Complete and submit the Resale Checklist</h4>
            <p class="list-group-item-text resources-body">
            There are two things you need to find out before you even begin the flat selling process. You won’t need the “expertise” of a housing agent to obtain either of this information.
            How long have you stayed in your flat?
            </p>
          </div>
          <div class="col-md-3">
              <%= link_to "Done", root_path, class: "btn btn-primary wide" %>
          </div>
      </div>



      <hr>

        <div class="row">
            <div class="col-md-9">
      <h4>Step 5: Grant Option to Purchase</h4>
              <p class="list-group-item-text resources-body">
              There are two things you need to find out before you even begin the flat selling process. You won’t need the “expertise” of a housing agent to obtain either of this information.
              How long have you stayed in your flat?
              </p>
            </div>
            <div class="col-md-3">
                <%= link_to "Done", root_path, class: "btn btn-primary wide" %>
            </div>
        </div>



</div>

            </div>
        </div>
    </div>
